* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-text-size-adjust: 100%;
	   -moz-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
	        text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.border-none {
	border: 0 !important;
}

.text-underline {
	text-decoration: underline;
}

.size-14 {
	font-size: 14px !important;
}

.size-18 {
	font-size: 18px;
}

.size-22 {
	font-size: 22px;
}

.size-23 {
	font-size: 23px;
}

.size-24 {
	font-size: 24px;
}

.size-30 {
	font-size: 30px;
}

a:hover {
	color: inherit;
}

.color-primary {
	color: #337AB7;
}

.color-toolbar-btn {
	color: #337ab7;
}

.pos-relative {
	position: relative;
}

.pos-absolute {
	position: absolute;
}

.white--text {
	color: #fff;
}

.btn-green {
	color: #fff;
	background: #5cb85c !important;
}

.btn-blue {
	color: #fff;
	background: #337AB7 !important;
}

.px-3 {
	padding-left: 12px !important;
	padding-right: 12px !important;
}

.px-4 {
	padding-left: 16px !important;
	padding-right: 16px !important;
}

.pl-4 {
	padding-left: 16px !important;
}

.py-5 {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

.pr-5 {
	padding-right: 20px !important;
}

.px-5 {
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.pt-5 {
	padding-top: 20px !important;
}

.pb-6 {
	padding-bottom: 24px !important;
}

.px-7 {
	padding-left: 28px !important;
	padding-right: 28px !important;
}

.px-8 {
	padding-left: 32px !important;
	padding-right: 32px !important;
}

.px-9 {
	padding-left: 36px !important;
	padding-right: 36px !important;
}

.pb-8 {
	padding-bottom: 32px !important;
}

.pb-9 {
	padding-bottom: 36px !important;
}

.pb-10 {
	padding-bottom: 40px !important;
}

.mr-3 {
	margin-right: 12px !important;
}

.ml-3 {
	margin-left: 12px !important;
}

.mx-3 {
	margin-right: 12px !important;
	margin-left: 12px !important;
}

.mb-4 {
	margin-bottom: 16px !important;
}

.mb-5 {
	margin-bottom: 20px !important;
}

.ml-25 {
	margin-left: 100px;
}

body {
	color: #555;
	font-size: 14px;
}

.wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 350px !important;
	}
}

.modal-content {
	position: relative;
}

.modal-header {
	font-family: "Roboto";
	padding: 20px 30px 15px;
	border: 0;
}
.modal-header .close {
	padding: 0;
	position: absolute;
	top: 24px;
	right: 22px;
}
.modal-header .close:focus {
	border: 0;
	outline: 0;
}
.modal-header .modal-title {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #333333;
}

.modal-body {
	padding: 10px 30px 0px;
}
.modal-body .form-group {
	margin-bottom: 20px;
}

.modal-footer {
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	padding: 0 30px 30px;
	border: 0;
}

.modal-label {
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #333333;
}

.header {
	position: fixed;
	top: 0;
	left: 50px;
	right: 0;
	z-index: 1001;
	height: 50px;
	background: #fff;
	color: #666;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.header .dropdown-menu {
	padding: 4px 0px;
}
.header .dropdown-item {
	font-size: 13px;
	padding: 8px 16px;
	height: 36px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header .dropdown-item.active {
	background: #DDD;
	color: inherit;
}
.header .dropdown-item:active {
	background: #DDD;
	color: inherit;
}
.header .dropdown__title {
	text-transform: uppercase;
	font-weight: bold;
	color: #2E2E2E;
	letter-spacing: 0.4px;
	font-size: 14px;
}
.header .dropdown__title--mail {
	font-weight: normal;
	text-transform: none;
}

.header--narrow {
	left: 240px;
}

.header__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100%;
	padding-right: 30px;
}
.header__content .nav-link {
	height: 50px;
}

.burger-button {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 0;
	height: 50px;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	width: 50px;
	background: #3E5A70;
	color: #fff;
	border: none;
	outline: none;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	font-size: 0;
	cursor: pointer;
}

.burger-button:active,
.burger-button:focus {
	border: none;
	outline: none;
}

.header__title {
	padding: 0;
	margin: 0;
	margin-left: 20px;
	margin-right: auto;
}

.page__title {
	font-size: 18px;
}

.date-time-widget {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	    -ms-flex: none;
	        flex: none;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #555;
}
@media (max-width: 579.98px) {
	.date-time-widget {
		display: none;
	}
}

.date-time-widget i {
	color: #777;
}

.dropdown-toggle::after {
	display: none;
}

.nav-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	color: #202020;
	padding: 0;
}
.nav-link:hover {
	background: #F6F6F6;
}
.nav-link .badge-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	border: 2px solid;
	right: 6px;
	top: 3px;
	background: #f0ad4e;
}

.toolbar-button {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0 16px;
	border-radius: 0;
	height: 50px;
	border: 0;
	outline: 0;
	background: transparent;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.toolbar-button:hover {
	background: #F6F6F6;
}
.toolbar-button:active, .toolbar-button:focus {
	border: 0;
	outline: 0;
}
.toolbar-button .account-icon {
	color: #C5C5C5;
}
.toolbar-button--account {
	padding-left: 12px;
	padding-right: 0;
}

.full-screen-btn {
	padding-left: 12px;
	padding-right: 12px;
}
@media (max-width: 991.98px) {
	.full-screen-btn {
		display: none;
	}
}

.language-dropdown {
	-webkit-box-flex: 0;
	    -ms-flex: none;
	        flex: none;
}

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 50px;
	background: #3E5A70;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	-webkit-box-shadow: inset -1px 0 3px 0 #444;
	        box-shadow: inset -1px 0 3px 0 #444;
}
.sidebar .logo {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 50px;
	width: 40px;
	overflow: hidden;
	padding-left: 12px;
}
.sidebar .logo__wrap {
	position: absolute;
	top: 13px;
	left: 16px;
}
.sidebar .logo__img {
	max-width: none;
}
.sidebar .navigation__text {
	display: none;
}

.sidebar--expand {
	width: 240px;
}
.sidebar--expand .navigation__link {
	color: #DAE5EB;
}
.sidebar--expand .logo {
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	padding-left: 20px;
	width: auto;
}
.sidebar--expand .logo__img {
	display: inline-block;
}
.sidebar--expand .navigation__text {
	display: inline;
}

.navigation__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.navigation__link {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	min-height: 40px;
	padding: 0 16px;
	width: 100%;
	color: #fff;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.navigation__link.active {
	background: #26465B;
}
.navigation__link.active:hover {
	background: #1E384A;
}
.navigation__link.active::before {
	background: #2196F3;
}
.navigation__link:hover {
	color: #DAE5EB;
	background: #26465B;
}
.navigation__link:hover::before {
	background: #2196F3;
}
.navigation__link::before {
	content: "";
	position: absolute;
	left: 0;
	width: 3px;
	height: 100%;
	background: transparent;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.index-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #334659;
}

.index-header__content {
	height: 50px;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	color: #fff;
}

.index-header__btn {
	color: inherit;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.index-header__btn:hover, .index-header__btn:focus, .index-header__btn:active {
	background: #435566;
}

.logo img {
	max-width: none;
}

.index-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: #3E5A70 !important;
	min-height: 100%;
}
.index-content__wrap {
	width: 100%;
	padding: 50px 0 0;
}
.index-content .container {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.auth-card {
	width: 360px;
	min-width: 150px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.auth-card .card-body {
	padding-left: 50px;
	padding-right: 50px;
}

.auth-card__title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.87);
	line-height: 1.5;
}

.auth__btn {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 38px;
	border-radius: 4px;
	background: #337AB7;
	color: #fff;
	font-size: 14px;
	margin-bottom: 20px;
	text-transform: none !important;
	letter-spacing: 0.2px !important;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.auth__btn:hover {
	color: #fff;
	background: #4384BD;
}
.auth__btn--last {
	margin-bottom: 0;
	color: #333;
	background: #fff;
	border: 1px solid #ccc;
}
.auth__btn--last:hover {
	color: #333;
	background: #F7F7F7;
}

.auth-card__link {
	text-decoration: none;
	font-size: 13px;
	color: #2196F3 !important;
	line-height: 1.7;
}
.auth-card__link:hover {
	color: #2196F3 !important;
}

.auth-card--text {
	height: auto !important;
	font-size: 14px;
	color: #333 !important;
	line-height: 1.5;
}

.auth-card__input {
	height: 38px !important;
	-webkit-box-shadow: none !important;
	        box-shadow: none !important;
	border: 1px solid #CCC;
	color: rgba(0, 0, 0, 0.87);
	border-radius: 4px;
	margin-bottom: 0;
	padding: 0 12px;
	-webkit-transition: all 0.3s ease !important;
	-o-transition: all 0.3s ease !important;
	transition: all 0.3s ease !important;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.auth-card__input::-webkit-input-placeholder {
	color: #B9B9B9;
}
.auth-card__input::-moz-placeholder {
	color: #B9B9B9;
}
.auth-card__input:-ms-input-placeholder {
	color: #B9B9B9;
}
.auth-card__input::-ms-input-placeholder {
	color: #B9B9B9;
}
.auth-card__input::placeholder {
	color: #B9B9B9;
}
.auth-card__input:hover {
	border-color: #2196F3;
}

.content {
	min-height: 100vh;
	padding: 50px 0 0 50px;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	background: #E6E6E6;
}

.content--narrow {
	padding-left: 240px;
}

.content__wrap {
	padding: 25px;
}

.card__wrap {
	padding: 20px;
	-webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.card__inner {
	background: #F3F5F5;
	border-color: #DDD;
}

.card__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	min-height: 40px;
	padding: 4px 15px;
	border-bottom: 1px solid #DDD;
	color: #555;
	font-size: 12px;
}

.custom-button {
	border-radius: 4px;
	text-transform: none;
	font-size: 12px;
	letter-spacing: 0.5px;
	height: 32px;
	font-weight: 400;
	min-width: 64px;
	background: transparent;
}
.custom-button:active, .custom-button:focus {
	border: none;
	outline: none;
}
.custom-button:hover {
	background: #ECEEEE;
}
.custom-button--smaller {
	height: 27px;
}

.search-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url("../img/icons/view.png");
	background-position: center;
	background-repeat: no-repeat;
}

.extended-search form {
	width: 100%;
}

.form-group {
	margin-bottom: 10px;
}

.form-group__label {
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	min-width: 100px;
	max-width: 100px;
	font-weight: bold;
	padding-right: 10px;
	padding-left: 10px;
}

.form-control__input {
	height: 34px !important;
	max-width: 200px;
	min-width: 120px;
	font-size: 13px;
	padding: 8px 12px;
}

.form-control {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.form-control:hover, .form-control:focus {
	-webkit-box-shadow: none;
	        box-shadow: none;
	border-color: #2196F3;
}

.pagination {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.page-item {
	border-radius: 4px;
	margin: 0 4.8px;
}
.page-item.active .page-link {
	color: #fff;
	background: #337AB7;
	border-color: #337AB7;
}
.page-item.disabled .page-link {
	opacity: 0.6;
}
.page-item .page-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 26px;
	width: 26px;
	padding: 0;
	border-radius: 4px;
	line-height: 1;
	margin-left: 0;
	font-size: 14px;
	color: #333;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.prev-next .page-link {
	height: 24px;
	width: 24px;
	color: rgba(0, 0, 0, 0.54);
}

.table__wrap {
	overflow-x: auto;
	overflow-y: visible !important;
}

.table__data {
	position: relative;
	width: 100%;
	border-collapse: collapse;
	background: #fff;
}

.table__data th,
.table__data td {
	padding: 10px 10px;
	white-space: nowrap;
	min-height: 32px;
	font-size: 12px;
	letter-spacing: 0.2px;
	vertical-align: middle;
}

.table__data td {
	padding-top: 7px;
	padding-bottom: 7px;
	border-top: 1px solid #DDD;
}
.table__data td div {
	line-height: 1.5;
}

.sorted-column {
	cursor: pointer;
}

.sort-btn {
	visibility: hidden;
}
.sort-btn i {
	font-size: 14px;
}

th:hover .sort-btn__icon {
	visibility: visible;
}

.sort-btn .icon-unsorted {
	display: inline-block;
}
.sort-btn .icon-sorted {
	display: none;
}

.sort-btn.sorted .icon-unsorted {
	display: none;
}
.sort-btn.sorted .icon-sorted {
	display: inline-block;
}

.table__link {
	text-transform: uppercase;
	letter-spacing: 0.4px;
	font-weight: bold;
	color: #337AB7;
}
.table__link:hover {
	color: #337AB7;
}

.table__img {
	display: block;
	width: 70px;
	height: 35px;
	border-radius: 4px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #666;
	font-size: 0;
}

.table-menu__activator {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	height: 30px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-left: 8px;
	border: 1px solid #DDD;
	border-radius: 4px;
}
.table-menu__activator::after {
	display: none !important;
}
.table-menu__activator:focus {
	border: 1px solid #DDD;
	outline: 0;
}
.table-menu__activator i {
	color: #666;
}

.table__submenu {
	font-size: 12px;
	padding: 4px 0;
	position: fixed !important;
	-webkit-transform: none !important;
	    -ms-transform: none !important;
	        transform: none !important;
	-webkit-transform: translateY(-50%) !important;
	    -ms-transform: translateY(-50%) !important;
	        transform: translateY(-50%) !important;
	z-index: 10001;
	left: 35% !important;
	top: 50% !important;
	-webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.table__submenu .dropdown-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 38px;
	padding: 0 16px;
	color: #555;
}
.table__submenu .dropdown-item.active, .table__submenu .dropdown-item:active {
	background-color: #DDD !important;
	color: inherit;
}